@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Press+Start+2P&family=Jersey+10&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Fira Sans", sans-serif;

    background: linear-gradient(217deg, rgb(0, 8, 83), rgb(96, 0, 83) 70%);
    background-repeat: no-repeat;
}
/* header */
header{
    height: 45px;
    width: 70%;

    margin: 60px auto 0px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 3px;

    background-color: #F5F5F5;

    box-shadow: 4px 4px rgb(186, 186, 186), -4px 4px rgb(186, 186, 186);
}
header h1{
    margin-left: 10px;

    color: #4a074d;

    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
}
header span{
    color: #190458;
}
/* main */
main{
    width: 70%;
    height: 470px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;

    margin: 20px auto 20px auto;

    border-radius: 3px;

    background-color: #F5F5F5;

    box-shadow: 4px 4px rgb(186, 186, 186), -4px 4px rgb(186, 186, 186);
}
.game{
    width: 70%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;

    border-radius: 5px;

    box-shadow: inset 4px 4px 4px rgb(121, 88, 65), inset -4px -4px 4px rgb(121, 88, 65);

    background-image: url(img/fundo-palavras2.jpg);
    background-position: center top;
    background-size: cover;
}
.game p{
    width: 400px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;

    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 18px;

    color: #000000;

    background-color: #ffffffe3;

    box-shadow: 2px 3px rgba(163, 145, 139, 0.632), -2px 3px rgba(163, 145, 139, 0.632);
}
.game h4{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    height: 25px;

    border-radius: 2px;

    background-color: #ffffffe3;
    color: black;

    box-shadow: 2px 3px rgba(163, 145, 139, 0.632), -2px 3px rgba(163, 145, 139, 0.632);
}
.game input{
    width: 300px;

    text-align: center;
    font-size: 18px;

    padding: 5px;

    background-color: #f5f5f5;

    border: none;
    border-radius: 2px;
}
.game button{
    width: 310px;
    height: 30px;

    border-radius: 2px;
    border: none;

    font-size: 18px;

    background-color: #eae4e4;
    color: black;

    box-shadow: 2px 3px rgb(181, 169, 165), -2px 3px rgb(163, 145, 139);
}
.game button:active{
    background-color: #ded6d6;
    color: black;
    box-shadow: 2px 3px rgba(163, 145, 139, 0), -2px 3px rgba(163, 145, 139, 0);
}
/* footer */
footer{
    height: 70px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #F5F5F5;

    text-align: center;
}
/* responsividade */

@media (max-width: 800px) {
    .game{
        width: 90%;
    }
    .game p{
        width: 90%;
        font-size: 14px;
    }
    .game h4{
        width: 90%;
        height: auto;

        text-align: center;
    }
    .game input{
        width: 75%;
        font-size: 14px;
    }
    .game button{
        width: 75%;
    }
}
